.modal {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(59, 105, 120, .5);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: modal-in .25s both;
}

.modal.is-open {
    display: flex;
}

.modal>div {
    height: 525px;
    width: 350px;
    color: #e7dfd5;
    background: #204051;
    border: 1px solid #3b6978;
}

.modal>div>div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal header {
    user-select: none;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.modal header h2 {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.modal div.status {
    user-select: none;
    text-align: center;
    border-top: 1px solid #3b6978;
    border-bottom: 1px solid #3b6978;
    padding: 15px;
}

.modal div.modal-content {
    height: auto;
    width: 100%;
    flex: 1;
    padding: 15px;
    word-wrap: break-word;
    word-break: break-all;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal div.controls {
    user-select: none;
    border-top: 1px solid #3b6978;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.modal div.controls button {
    cursor: pointer;
    width: 85px;
    color: #e7dfd5;
    background: #3b6978;
    padding: 7.5px 0;
    border: 1px solid #3b6978;
    border-radius: 2px;
    transition: .15s;
}

.modal div.controls button.delete {
    cursor: pointer;
    color: #c73b40;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid transparent;
}

.modal div.controls button.delete:hover {
    border-bottom: 1px solid #c73b40;
}

.modal div.controls button:not(.delete):hover {
    box-shadow: 0 0 5px 1px #84a9ac;
}

@keyframes modal-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}